<div class="container">
    <form method="POST" class="mt-4">
        <div class="mb-3">
            <label for="inputValue" class="form-label">Search</label>
            <input type="text" name="q" class="form-control" id="inputValue" placeholder="Search">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>